/* titolo della pagina che ho lasciato nascosto */

h1 {text-align: center;                    
    font-family: 'Roboto', sans-serif;
    display: none;
}

/* con p ho settato il distanziamento tra i tasti */

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 13px;
}

/* ho usato l'hr per ricreare il segmento per il trascinamento su iphone */

hr {
    color: white;
    background-color: white;
    border-radius: 5px;
    height: 5px;
    width: 100px;
    margin-top: 15%;
}

/* con la classe box ho regolato la dimensione e la forma della calcolatrice */

.box {
    height: 640px;
    width: 360px;
    background-color: black;
    margin: auto;
    border: solid;
    border-radius: 40px 40px;
}

/* il display è dove verranno visualizzati i pulsanti premuti */

#display {
    height: 80px;
    margin: 110px 0px 8px 24px;
    font-size: 4rem;
    width: 72%;
    text-align: end;
    color: white;
    background-color: black;
    border: 0px;
}

/* qui ho settato l'allineamento dei tasti sulla calcolatrice */

.calcolatrice{
    text-align: center;
    display: inline-flex;
    margin-left: 10%;
    margin-bottom: -12%;;
}

/* con le classi grafica sono andato a creare la grafica dei pulsanti */

.grafica {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: xx-large;
    text-align: center;
    background: rgb(165, 165, 165);
    padding: 10px 10px;
    border-radius: 30px 30px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.grafica1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: xx-large;
    text-align: center;
    background: rgb(51, 51, 51);
    padding: 10px 10px;
    border-radius: 30px 30px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.grafica2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: xx-large;
    text-align: center;
    background: rgb(255, 159, 10);
    padding: 10px 10px;
    border-radius: 30px 30px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.grafica0 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: xx-large;
    background: rgb(51, 51, 51);
    padding: 10px 10px;
    border-radius: 30px 30px;
    width: 103px;
    height: 35px;
    cursor: pointer;
    text-align: start;
}

/* con l'hover ho creato l'effetto di schiarimento al passaggio del cursore sul tasto */

.grafica0:hover, .grafica1:hover {
    background:rgb(90, 90, 90);
}

.grafica:hover {
    background-color: rgb(205, 205, 205)
}

.grafica2:hover {
    background-color: rgb(255, 190, 40);
}


